<?php

echo '
class Subbly_Installer_ViewContainer
{
    private static $_views = array(
';
    foreach ($views as $path => $content) {
        echo '
        \''.$path.'\' => \''.base64_encode($content).'\',
';
    }

echo '
    );

';

echo $original_code;

echo '
    protected static function getTemplateContent($templateName, $params) {
        extract($params);
        $content = base64_decode(self::$_views[$templateName]);
        return eval(\' ?>\'.$content.\'<?php \');
    }
}
';
