@import "colors";

$columns-content-height: 300px;

$ui-background: $theme-grey-dark;
$ui-color: $theme-white;

$ui-labels-color: $theme-grey;
$ui-placeholders-color: $theme-grey;
$ui-inputs-color: $theme-white;

$ui-buttons-background: $theme-green;
$ui-buttons-color: $theme-white;

$body-font-family: "Lato", Arial, sans-serif;
