@import "colors";

$ui-background: $theme-grey-dark;
$ui-color: $theme-white;

$ui-labels-color: $theme-grey;
$ui-placeholders-color: $theme-grey;
$ui-inputs-color: $theme-white;

$ui-buttons-background: $theme-green;
$ui-buttons-color: $theme-white;
