@import "colors";

$responsive-breakpoint: 767px;

$columns-content-height: 380px;

$ui-background: $theme-grey-dark;
$ui-color: $theme-white;

$ui-labels-color: $theme-grey;
$ui-placeholders-color: $theme-grey;
$ui-inputs-color: $theme-white;

$ui-buttons-background: $theme-green;
$ui-buttons-color: $theme-white;

$ui-step-background: $theme-grey;
$ui-step-active-background: $theme-white;

$body-font-family: "Lato", Arial, sans-serif;
