@import "fonts";
@import "variables";

@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html {
    body {
        background: $ui-background;
        color: $ui-color;
        font-family: $body-font-family;
        a {
            outline: 0;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus {
                outline: 0;
                text-decoration: none;
            }
        }
        #app-aside {
            position: fixed;
            top: 50%;
            height: $columns-content-height;
            margin-top: -($columns-content-height / 2);
            #app-title {
                margin: 0;
            }
        }
        #app-content {
            position: relative;
        }
        .full {
            position: relative;
            width: 100%;
            height: 100vh;
        }
        .vertical-center-wrapper {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: $columns-content-height;
            margin-top: -($columns-content-height / 2);
        }
        .container {
            max-width: 960px;
            margin: 0 auto;
        }
        .subbly-form {
            fieldset {
                border: none;
            }
            .form-subtitle {
                margin: 0 auto 25px auto;
            }
            .fields-group {
                margin-bottom: 30px;
                input,
                textarea,
                select {
                    display: block;
                }
            }
            label {
                margin-bottom: 10px;
                color: $ui-labels-color;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
            }
            input,
            textarea,
            select,
            .field-options {
                font-weight: 300;
                font-size: 48px;
                outline: 0;
                color: $ui-inputs-color;
            }
            input[type="text"],
            input[type="search"],
            input[type="url"],
            input[type="password"],
            input[type="email"] {
                background: transparent;
                border: none;
            }
        }
        .button,
        .subbly-form input[type="submit"].button {
            padding: 20px 50px;
            font-size: 14px;
            font-weight: 600;
            border: none;
            background: $ui-buttons-background;
            color: $ui-buttons-color;
            &.button-rounded {
                border-radius: 50px;
            }
        }
    }
}
